.wallet-container {
    font-family: Arial, sans-serif;
    width: 400px;
    padding: 2rem;
    background-color: #f9f9f9;
    height: 100vh;
    position: relative;
}
  
.wallet-title {
    text-align: center;
}
.active-title {
    text-align: center;
}
  
.card-list {
    list-style: none;
    padding: 0;
}
  
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem; 
}

.active {
    margin-bottom: 2rem;
}
  
.inactive {
    position: relative;
    margin-bottom: -12rem;

}
  
.row1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
  
.bitcoin-inc {
    background-color: #f0d93c; 
}
  
.ninja-bank {
    background-color: #202020; 
    color: #ffffff; 
}
  
.block-chain-inc {
    background-color: #a178f7; 
}
  
.evil-corp {
    background-color: #e62b60; 
    color: white;
}

.magnetic-stripe-icon {
    width: 70px; 
    height: 70px; 
    
}

.card-number {
    margin-top: 0.3rem;
    font-size: 36px;
    text-align: center;
}
  
.card-info {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.name p {
    margin: 0;
    font-size: 14px;
}
  
.card-holder {
    font-weight: bold;
}
  
.valid p {
      margin: 0;
}
    
.valid-thru {
    text-align: end;
    font-weight: bold;
}
  
.removeBtn {
    background-color: transparent;
    border: 1px solid rgb(123, 123, 123);
    cursor: pointer;
    color: rgb(165, 161, 161);
    font-size: 10px;
}
  
.add-card-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 80%;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 6rem; 
    left: 50%; 
    transform: translateX(-50%); 
}
  
  